h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;

}

h3, h4 {
    font-family: 'Helvetica Neue', Arial, sans-serif;

}

h1, h2, h3, h4 {
    font-weight: 400;
}


.text {
    margin: 1em;
}

#about-text {
    display: flex;
    flex-direction: column;
    gap:1em;
}

.caption {
    font-size: 0.9em;
    color: #999;
    margin-top: 0.5em;
}
    
p {
    font-family: 'Georgia', 'Times New Roman', serif;
    color: rgba(0, 0, 0, 0.6);

}



body {
    background-color: #fff;
    margin: 0;
    color: #08090a
}

.media-container {
    position: fixed;
    bottom: 1em;
    right: 1em;
}


/*WORK*/

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em 1em;
    margin: 1em;

}

.project-description {
    border: 1px solid #eee;
    padding: 2em;
    /* border-radius: 1em; */
    min-width: 30%;
}

.splash-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.splash-container aside {
    display: none;
}

.splash {
    /* border-radius: 1em; */
    border: 1px solid #eee;
    overflow: hidden;
    margin: 1em;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
}

.splash-content {
    margin: 2rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
}

.work-video {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
}

.work-image {
    border: 1px solid #eee;
    width: 100%;

}

.work-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em 0;
}

.insights-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}



#profile {
    border: 8px solid #fff;
    transform: rotate(-1.5deg);
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, .15), 0 0 0 1px rgba(9, 30, 66, .08);
    transition: transform 0.3s ease;
}


#profile:hover {
    transform: rotate(0deg);
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .splash-content, .work-video {
        max-width: 800px;
    }

    .splash-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 2rem;
    }

    .splash-container aside {
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .insights-container {
        flex-direction: row;
    }
}

